<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="It's a test page to Scandiweb. This page can add and remove products.">
    <title>Product Page | Scandiweb</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="p-8 bg-indigo-50">
    <div id="productApp">
        <div name="Product-Page">
            <header class="mb-4 flex justify-between content-center">
                <h1>Product Page</h1>
                <span class="items-stretch">
                    <a href="/static/add-product.html"><button :class="btnAdd">ADD</button></a>
                    <button :class="btnDel" @click="deleteProducts">MASS DELETE</button>
                </span>
            </header>
            <hr>
            <div width='100%' class="flex flex-wrap justify-around mt-8 mx-auto">
                
                <!-- Product card-->
                <div v-for="product in products" :key="product.product_sku" :class="productCards">
                    <input v-model="productsToDelete" :value="product" type="checkbox" class="delete-checkbox">
                    <div class="text-center break-words h-full w-full">
                        <div class="my-2">{{product.product_sku}}</div>
                        <div class="my-2">{{product.product_name}}</div>
                        <div class="my-2">{{product.product_price}}</div>
                        <div class="my-2">{{product.product_property}}</div>
                    </div>
                </div>
                <!-- end -->

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <!-- Vue logic of the page-->
    <script src="/static/scripts/mainPage.js"></script>
</body>
</html>
