<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="It's a test page to Scandiweb. This page can add and remove products.">
    <title>Add Product | Scandiweb</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body class="p-8 bg-indigo-50">
    <div id="productApp">
        <div name="Add-Product-Page" class="relative">
            <header class="mb-4 flex justify-between content-center">
                <h1>Product Add</h1>
            </header>
            <hr>
            <form id="product_form" @submit.prevent="onSubmit">
                <br>
                <div>
                    <label>SKU</label>
                    <br>
                    <input id="sku" :class="formInput" type="text" name="SKU" v-model="SKU">
                </div>
                <br>
                <div>
                    <label>Product Name</label>
                    <br>
                    <input id="name" :class="formInput" type="text" name="productName" v-model="productName">
                </div>
                <br>
                <div>
                    <label>Price ($)</label>
                    <br>
                    <input id="price" :class="formInput" type="number" step="0.01" name="productPrice" v-model="productPrice">
                </div>
                <br>
                <div>
                    <label>Product type</label>
                    <br>
                    <select class="ml-4" v-model="productType" :class="formInput" id="productType">
                        <option value="Dvd">DVD</option>
                        <option value="Furniture">Furniture</option>
                        <option value="Book">Book</option>
                    </select>
                    <br>
                    <label>Product Description</label>
                    <br>
                    <div v-if="showDvd">
                        <br>
                        <label class="text-gray-400">Please, provide size:</label>
                        <br>
                        <span><input placeholder="Storage Size MB" :class="formInput" type="number" step="0.01" id="size" v-model="dvdSizeMB"></span>
                    </div>
                        <div v-show="showFurniture" class="flex flex-col pl-12">
                            <br>
                            <label class="text-gray-400">Please, Provide Dimensions:</label>
                            <br>
                            <span>Width: <input placeholder="Width in 'cm'" :class="formInput" type="number" step="0.01" id="width" v-model="furnitureWidth"></span>
                            <span>Height: <input placeholder="Height in 'cm'" :class="formInput" type="number" step="0.01" id="height" v-model="furnitureHeight"></span>
                            <span>Lenght: <input-blur @blur="furnitureConcat" placeholder="Length in 'cm'" v-model="furnitureLength" :class="formInput" type="number" step="0.01" id="length"/></span>
                        </div>

                    <div v-show="showBook">
                        <br>
                        <label class="text-gray-400">Please, provide weight:</label>
                        <br>
                        <span><input placeholder="Weight in 'kg'" :class="formInput" type="select" id="weight" v-model="bookWeight"></span>
                    </div>        
                </div>
                <br>
                <div class="items-stretch absolute top-0 right-0">
                    <button :class="btnAdd">Save</button>
                    <a href="../../index.html"><span :class="btnDel" @click="cancelProduct()">Cancel</span></a>
                </div>
            </form>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
     <!-- Vue logic of the page-->
    <script src="scripts/add-product.js"></script>
</body>
</html>
